<!DOCTYPE html>
<html>

<head>
    <title>Plate</title>
</head>

<body>
    <div id="test">
        <div><input type="text" v-model="greet">{{ greet }}</div>
        <div v-if="show">this is a test</div>
        <div>
            <button type="button" v-on:click="test">click</button>
        </div>
    </div>
    <script src="Plate.js"></script>
    <script>
        var app = new Plate({
            el: '#test',
            data: {
                greet: 'hello',
                show: true
            },
            methods: {
                test: function () {
                    var self = this;
                    setTimeout(function() {
                        self.greet = 'world';
                    }, 1000);
                }
            }
        })
    </script>
</body>

</html>